name: Build

on:
  push:
    branches: ["main"]
    paths-ignore:
      - 'AUTHORS'
      - 'BUGS'
      - 'COPYING'
      - 'INSTALL.md'
      - 'NEWS'
      - 'README.md'
      - 'TODO'
  pull_request:
    branches: ["main"]
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - 'AUTHORS'
      - 'BUGS'
      - 'COPYING'
      - 'INSTALL.md'
      - 'NEWS'
      - 'README.md'
      - 'TODO'

jobs:
  build-alpine:
    name: Alpine Linux
    runs-on: ubuntu-latest
    container:
      image: alpine:3.22.1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: |
          apk add --no-cache \
            build-base \
            cmark \
            fuse-dev \
            gmp-dev \
            libedit-dev \
            libgcrypt-dev \
            meson \
            ncurses-dev \
            ninja
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: ninja -C build uninstall

  build-fedora:
    name: Fedora Linux
    runs-on: ubuntu-latest
    container:
      image: fedora:42
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: |
          dnf --setopt=install_weak_deps=False --assumeyes install \
            cmark \
            fuse-devel \
            gcc \
            gmp-devel \
            libgcrypt-devel \
            meson \
            ncurses-devel \
            ninja-build \
            readline-devel
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall

  build-ubuntu-fuse2:
    name: Ubuntu (with FUSE v2)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            cmark-gfm \
            gcc \
            libgcrypt-dev \
            libfuse-dev \
            libgmp-dev \
            libreadline-dev \
            libncurses-dev \
            meson \
            ninja-build \
            pkg-config
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall

  build-ubuntu-fuse3:
    name: Ubuntu (with FUSE v3)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            cmark-gfm \
            gcc \
            libgcrypt-dev \
            libfuse3-dev \
            libgmp-dev \
            libreadline-dev \
            libncurses-dev \
            meson \
            ninja-build \
            pkg-config
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall

  build-macos:
    name: macOS
    runs-on: macos-latest
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: |
          brew update
          brew upgrade
          brew install \
            cmark-gfm \
            macfuse \
            meson
      - name: Setup
        run: meson setup build
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall

  build-freebsd-fuse2:
    name: FreeBSD (with FUSE v2)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Build on VM
        uses: vmactions/freebsd-vm@670398e4236735b8b65805c3da44b7a511fb8b27 # v1.3.0
        with:
          copyback: false
          prepare: |
            pkg remove -y fusefs-libs3
            pkg install -y \
              cmark \
              fusefs-libs \
              gmp \
              libedit \
              libgcrypt \
              libiconv \
              meson \
              pkgconf
          run: |
            set -e
            meson setup build \
              -Dpkg_config_path=/usr/local/libdata/pkgconfig
            meson compile -C build
            meson install -C build
            afpcmd -h
            ninja -C build uninstall

  build-freebsd-fuse3:
    name: FreeBSD (with FUSE v3)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Build on VM
        uses: vmactions/freebsd-vm@670398e4236735b8b65805c3da44b7a511fb8b27 # v1.3.0
        with:
          copyback: false
          prepare: |
            pkg install -y \
              cmark \
              fusefs-libs3 \
              gmp \
              libedit \
              libgcrypt \
              libiconv \
              meson \
              pkgconf
          run: |
            set -e
            meson setup build \
              -Dpkg_config_path=/usr/local/libdata/pkgconfig
            meson compile -C build
            meson install -C build
            afpcmd -h
            ninja -C build uninstall

  build-netbsd:
    name: NetBSD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Build on VM
        uses: vmactions/netbsd-vm@f3ba9278fd64c658fb525325438ae48873dc0832 # v1.2.4
        with:
          copyback: false
          prepare: |
            export PKG_PATH="http://ftp.NetBSD.org/pub/pkgsrc/packages/NetBSD/$(uname -p)/$(uname -r|cut -f '1 2' -d.)/All"
            pkg_add \
              cmark \
              fuse \
              gcc13 \
              libgcrypt \
              meson \
              pkg-config
          run: |
            set -e
            meson setup build
            meson compile -C build
            meson install -C build
            ninja -C build uninstall

  build-openbsd:
    name: OpenBSD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Build on VM
        uses: vmactions/openbsd-vm@2e29de1eb150dfe1c9c97b84ff2b7896f14ca690 # v1.2.5
        with:
          copyback: false
          prepare: |
            pkg_add -I \
              cmark \
              gcc-11.2.0p19 \
              libgcrypt \
              meson \
              pkgconfig
          run: |
            set -e
            meson setup build
            meson compile -C build
            meson install -C build
            afpcmd -h
            ninja -C build uninstall
