name: Build

on:
  push:
    branches: ["main"]
    paths-ignore:
      - 'AUTHORS'
      - 'BUGS'
      - 'COPYING'
      - 'INSTALL.md'
      - 'NEWS'
      - 'README.md'
      - 'TODO'
  pull_request:
    branches: ["main"]
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - 'AUTHORS'
      - 'BUGS'
      - 'COPYING'
      - 'INSTALL.md'
      - 'NEWS'
      - 'README.md'
      - 'TODO'

jobs:
  build-alpine:
    name: Alpine Linux
    runs-on: ubuntu-latest
    container:
      image: alpine:3.22.1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          apk add --no-cache \
            build-base \
            fuse-dev \
            libedit-dev \
            libgcrypt-dev \
            meson \
            ninja
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-fedora:
    name: Fedora Linux
    runs-on: ubuntu-latest
    container:
      image: fedora:42
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          dnf --setopt=install_weak_deps=False --assumeyes install \
            fuse-devel \
            gcc \
            libgcrypt-devel \
            meson \
            ninja-build \
            readline-devel
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-ubuntu-fuse2:
    name: Ubuntu 22.04 (with FUSE v2)
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            gcc \
            libbsd-dev \
            libgcrypt-dev \
            libfuse-dev \
            libreadline-dev \
            meson \
            ninja-build \
            pkg-config
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-ubuntu-fuse3:
    name: Ubuntu 24.04 (with FUSE v3)
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            gcc \
            libgcrypt-dev \
            libfuse3-dev \
            libreadline-dev \
            meson \
            ninja-build \
            pkg-config
      - name: Setup
        run: meson setup build --prefix=/usr
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-macos-fuse2:
    name: macOS (with FUSE v2)
    runs-on: macos-latest
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          brew update
          brew upgrade
          brew install \
            macfuse \
            meson
      - name: Setup
        run: meson setup build -Dforce-fuse-v2=true
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-macos-fuse3:
    name: macOS (with FUSE v3)
    runs-on: macos-latest
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          brew update
          brew upgrade
          brew install \
            macfuse \
            meson
      - name: Setup
        run: meson setup build
      - name: Compile
        run: meson compile -C build
      - name: Install
        run: sudo meson install -C build
      - name: Run
        run: afpcmd -h
      - name: Uninstall
        run: sudo ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-freebsd-fuse2:
    name: FreeBSD (with FUSE v2)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build on VM
        uses: vmactions/freebsd-vm@c9f815bc7aa0d34c9fdd0619b034a32d6ca7b57e # v1.4.2
        with:
          copyback: true
          sync: sshfs
          prepare: |
            pkg remove -y fusefs-libs3
            pkg install -y \
              fusefs-libs \
              libedit \
              libgcrypt \
              libiconv \
              meson \
              pkgconf
          run: |
            set -e
            meson setup build \
              -Dpkg_config_path=/usr/local/libdata/pkgconfig
            meson compile -C build
            meson install -C build
            afpcmd -h
            ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-freebsd-fuse3:
    name: FreeBSD (with FUSE v3)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build on VM
        uses: vmactions/freebsd-vm@c9f815bc7aa0d34c9fdd0619b034a32d6ca7b57e # v1.4.2
        with:
          copyback: true
          sync: sshfs
          prepare: |
            pkg install -y \
              fusefs-libs3 \
              libedit \
              libgcrypt \
              libiconv \
              meson \
              pkgconf
          run: |
            set -e
            meson setup build \
              -Dpkg_config_path=/usr/local/libdata/pkgconfig
            meson compile -C build
            meson install -C build
            afpcmd -h
            ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-netbsd:
    name: NetBSD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build on VM
        uses: vmactions/netbsd-vm@e04aec09540429f9cebb0e7941f7cd0c0fc3b44f # v1.3.6
        with:
          copyback: true
          sync: sshfs
          prepare: |
            export PKG_PATH="http://ftp.NetBSD.org/pub/pkgsrc/packages/NetBSD/$(uname -p)/$(uname -r|cut -f '1 2' -d.)/All"
            pkg_add \
              fuse \
              gcc13 \
              libgcrypt \
              meson \
              pkg-config
          run: |
            set -e
            meson setup build
            meson compile -C build
            meson install -C build
            ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs

  build-openbsd:
    name: OpenBSD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build on VM
        uses: vmactions/openbsd-vm@9a8e4351a4a0dc6238e7c69276dcbf6c03bea576 # v1.3.6
        with:
          copyback: true
          sync: sshfs
          prepare: |
            pkg_add -I \
              gcc-11.2.0p19 \
              libgcrypt \
              meson \
              pkgconfig
          run: |
            set -e
            meson setup build
            meson compile -C build
            meson install -C build
            afpcmd -h
            ninja -C build uninstall
      - name: Upload meson logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: meson-logs-${{ github.job }}
          path: build/meson-logs
