name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types:
      - opened
      - synchronize
      - reopened

env:
  REGISTRY: ghcr.io
  REPO: ${{ github.repository }}

jobs:
  formatting:
    name: Code Formatting
    runs-on: macos-latest
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          brew update
          brew install \
            astyle \
            markdownlint-cli2 \
            muon \
            shfmt \
            yamlfmt
      - name: Check C formatting
        run: ./codefmt.sh -v -s c
      - name: Check markdown formatting
        run: ./codefmt.sh -v -s markdown
      - name: Check meson formatting
        run: ./codefmt.sh -v -s meson
      - name: Check shell script formatting
        run: ./codefmt.sh -v -s shell
      - name: Check yaml formatting
        run: ./codefmt.sh -v -s yaml

  markdown-linting:
    name: Markdown Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: '**/*.md'

  build-container-tests:
    name: Build integration test container
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ !github.event.pull_request.head.repo.fork }}
    permissions:
      packages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Create image name
        run: |
          echo "IMAGE_NAME=${REPO,,}-tests" >> ${GITHUB_ENV}
      - name: Login to container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: type=raw,value=${{ github.sha }}
      - name: Build and push container image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: test/Dockerfile
          push: true
          labels: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}

  run-container-tests:
    name: Run integration tests
    needs: build-container-tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Create image name
        run: |
          echo "IMAGE_NAME=${REPO,,}-tests" >> ${GITHUB_ENV}
      - name: Run integration tests
        run: |
          docker run --rm \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

  distribution-tests:
    name: Distribution Tests
    runs-on: ubuntu-latest
    timeout-minutes: 12
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            gcc \
            libgcrypt-dev \
            libfuse-dev \
            libreadline-dev \
            meson \
            ninja-build
      - name: Configure
        run: |
          meson setup build -Dbuildtype=release
      - name: Run distribution tests
        run: meson dist -C build
