name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types:
      - opened
      - synchronize
      - reopened

jobs:
  formatting:
    name: Code Formatting
    runs-on: macos-latest
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          brew update
          brew install \
            astyle \
            markdownlint-cli2 \
            muon \
            shfmt \
            yamlfmt
      - name: Check C formatting
        run: ./codefmt.sh -v -s c
      - name: Check markdown formatting
        run: ./codefmt.sh -v -s markdown
      - name: Check meson formatting
        run: ./codefmt.sh -v -s meson
      - name: Check shell script formatting
        run: ./codefmt.sh -v -s shell
      - name: Check yaml formatting
        run: ./codefmt.sh -v -s yaml

  markdown-linting:
    name: Markdown Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: '**/*.md'

  distribution-tests:
    name: Distribution Tests
    runs-on: ubuntu-latest
    timeout-minutes: 12
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes --no-install-recommends \
            gcc \
            libgcrypt-dev \
            libfuse-dev \
            libreadline-dev \
            meson \
            ninja-build
      - name: Configure
        run: |
          meson setup build -Dbuildtype=release
      - name: Run distribution tests
        run: meson dist -C build
